/* You can add global styles to this file, and also import other style files */

body {
  background: url("https://i.imgur.com/3jKnmzm.jpg") no-repeat;
}

.box-blue {
  overflow:hidden;
  padding:20px;
  border:2px solid dodgerblue;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.28);
}

.background-image {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

}
